[submodule "cs_algo"]
	path = cs_algo
	url = git@github.com:yangfcm/algorithm-csharp.git
[submodule "js_algo"]
	path = js_algo
	url = git@github.com:yangfcm/algorithm-js.git
[submodule "java_algo"]
	path = java_algo
	url = git@github.com:yangfcm/algorithm-java.git
[submodule "py_algo"]
	path = py_algo
	url = git@github.com:yangfcm/algorithm-python.git
[submodule "go_algo"]
	path = go_alg
	url = git@github.com:yangfcm/algorithm-go.git